/* Container1 */ 

.container1 {
    border: 0.1rem solid black;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 10%;
    gap: 0.5rem;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.4em;
}