/* Container1 */ 

.container1 {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 10%;
    gap: 0.5rem;
    justify-items: flex-end;
}

.roundCounter__text {
    font-size: 2rem;
    color: var(--green);
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}