.hand__img {
    width: 70%;
}

.playerBox__hand {
    transform: scaleX(-1);
}


/* Animations */

.roundPlay {
  animation-name: shake;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

.handPlayed {
    animation-name: showHand;
    animation-duration: 3s;
}

.handRaise {
    animation-name: raiseHand;
    animation-duration: 3s;
}

.scaleDown {
    animation-name: scaleDown;
    animation-duration: 1s;
}


@keyframes shake {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(-60deg)}
    50%  {transform: rotate(-90deg)}
    100%  {transform: rotate(0deg)}
}

@keyframes showHand {
    0%  {transform: rotate(0deg);}
    25%  {transform: rotate(-90deg) }
    100%  {transform: rotate(-90deg)}
}

@keyframes raiseHand {
    from {transform: rotate(-90deg);}
    to {transform: rotate(0deg);} 
}

@keyframes scaleDown {
    0%  {}
    50%  {transform: scale(0.9);}
    100%  {transform: scale(1);}
}
