.hand__img {
    width: 70%;
    max-width: 300px;
    min-width: 200px;
}

.playerBox__hand {
    transform: scaleX(-1);
}

@media screen and (max-width: 425px) {
    .hand__img {
        min-width: 100px;
        max-width: 100px;
    }
}

/* Animations */

.roundPlay {
  animation-name: roundPlay;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
}

.handPlayed {
    animation-name: handPlayed;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

.handRaise {
    animation-name: handRaise;
    animation-duration: 1s;
}

.scaleDown {
    animation-name: scaleDown;
    animation-duration: 0.5s;
}

.scaleUp {
    animation-name: scaleUp;
    animation-duration: 0.5s;
}

.pointerEventsNone {
    pointer-events: none;
}


@keyframes roundPlay {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(-60deg)}
    50%  {transform: rotate(-90deg)}
    100%  {transform: rotate(0deg)}
}

@keyframes handPlayed {
    0%  {transform: rotate(0deg);}
    25%  {transform: rotate(-90deg) }
    100%  {transform: rotate(-90deg)}
}

@keyframes handRaise {
    from {transform: rotate(-90deg);}
    to {transform: rotate(0deg);} 
}

@keyframes scaleDown {
    0%  {}
    50%  {transform: scale(0.9);}
    100%  {transform: scale(1);}
}

@keyframes scaleUp {
    0%  {}
    50%  {transform: scale(1.1);}
    100%  {transform: scale(1);}
}
