/* playerColumn */

.display__playerColumn {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.playerColumn__playerBox {
    padding: 0.5rem;
    border-radius: 25px;
    background-color: var(--dark-blue);
}

.playerBox__name {
    color: var(--yellow);
    font-weight: 700;
    font-size: 2rem;
}

.playerColumn__pointsBox {
    border-radius: 25px;
    padding: 0.5rem;
    background-color: var(--dark-blue);
    color: var(--yellow);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.playerBox__hand {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .playerColumn__pointsBox {
        font-size: 1rem;
    }
    .playerBox__name {
        font-size: 1.5rem;
    }
    .display__playerColumn {
        padding: 3px;
    }
}