/* playerColumn */

.display__playerColumn {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.playerColumn__playerBox {
    border: 0.1rem solid black;
    padding: 1rem;
    border-radius: 25px;
}

.playerColumn__pointsBox {
    border: 0.1rem solid black;
    border-radius: 60px;
    padding: 0.5rem;
}

.playerBox__hand {
    display: flex;
    align-items: center;
    justify-content: center;
}