/* playerColumn */

.display__playerColumn {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 1rem;
    text-align: center;
}

.playerColumn__playerBox {
    border: 0.1rem solid black;
    padding: 1rem;
    border-radius: 25px;
}

.playerColumn__pointsBox {
    border: 0.1rem solid black;
    border-radius: 60px;
    padding: 0.5rem;
}

.playerBox__hand {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animations */

.winBoxAnimation {
    animation-name: winBoxAnimation;
    animation-duration: 2.5s;
}

@keyframes winBoxAnimation {
    0% {}
    70% {
        background-color: green;
        transform: scale(1.1);
        margin-bottom: .2rem;
    }
    80% {
        background-color: green;
        transform: scale(1.1);
        margin-bottom: .2rem;
    }
    100% {}
}

.loseBoxAnimation {
    animation-name: loseBoxAnimation;
    animation-duration: 2.5s;
}

@keyframes loseBoxAnimation {
    0% {}
    70% {
        background-color: red;
        transform: scale(.98);
        margin-bottom: .2rem;
    }
    80% {
        background-color: red;
        transform: scale(.98);
        margin-bottom: .2rem;
    }
    100% {}
}
