.container2__choice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 200px;
    min-width: 150px;
    border-radius: 50%;
    transition: 700ms;
    cursor: pointer;
}

.container2__choice:hover {
    transform: scale(1.1);
}

.choice__img {
    width: 100%;
    transform: scaleX(-1);
}

@media screen and (max-width: 425px) {
    .container2__choice {
        min-width: 50%;
    }
}