:root {
    --green: #70EBB3;
    --gray-blue: #2F4858;
    --yellow: #FFCB4C;
    --dark-blue:  #062331;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    flex-grow: 1;
    background: #2F4858;

}