:root {
    --green: #70EBB3;
    --gray-blue: #2F4858;
    --yellow: #FFCB4C;
    --dark-blue:  #062331;
}

html {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    flex-grow: 1;
    background: #2F4858;

}

@media screen and (max-width: 425px) {
    html {
        height: 100vh;
    }

    body {
        height: 100vh;
    }
}
