:root {
    --green: #008A7D;
    --gray-blue: #2F4858;
    --yellow: #FFCB4C;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    flex-grow: 1;
    background: #2F4858;

}